{% extends 'base/base.html' %}

{% block content %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Ayarlar</h1>
                    </div>
                    <hr>
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h4 mb-0 text-gray-800">Eklemeler</h1>
                    </div>
                    {% if messages %}
                    {% for message in messages  %}
                    <div class='alert alert-{{message.tags}}'>
                        {{message}}
                    </div>
                    {% endfor %}
                    {% endif %}

                    <!-- Content Row -->
                    <div class="row justify-content-center">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-bottom-success shadow h-100 py-2">
                                <a href={% url 'createFirma' %} >
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Firma Ekle</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{firma_sayisi}}
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-bottom-danger shadow h-100 py-2">
                                <a href={% url 'createSube' %} >
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                Şube Ekle</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{sube_sayisi}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa fa-columns fa-2x text-gray-300" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-bottom-dark shadow h-100 py-2">
                                <a href={% url 'signupView' %} >
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                                Kullanıcı Ekle</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{kullanici_sayisi}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa fa-child fa-2x text-gray-300" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <a/>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
          
                    <!-- Approach -->
                    <br><hr><br>
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h4 mb-0 text-gray-800">Düzenlemeler</h1>
                    </div> 
                    <div class="row justify-content-center">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-bottom-success shadow h-100 py-2">
                                <a href={% url 'allFirmalar' %} >
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Firma Düzenle veya Sil</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{firma_sayisi}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-bottom-danger shadow h-100 py-2">
                                <a href={% url 'allSubeler' %} >
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                Şube Düzenle veya Sil</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{sube_sayisi}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa fa-columns fa-2x text-gray-300" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-bottom-dark shadow h-100 py-2">
                                <a href={% url 'allKullanicilar' %} >
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                                Kullanıcı Sil</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{kullanici_sayisi}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa fa-child fa-2x text-gray-300" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <a/>
                            </div>
                        </div>
                    </div>
                
  
                    



{% endblock content %}