{% extends 'base/base.html' %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-xl-12 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    
                    <div class="col">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">İcmal Giriş Ekranı</h1>
                                {% if messages %}
                                {% for message in messages  %}
                                <div class='alert alert-{{message.tags}}'>
                                    {{message}}
                                </div>
                                {% endfor %}
                                {% endif %}
                      {% if title == "İcmal Girişi - Firma Seçin" %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-3">
                                            {% if title == "İcmal Girişi" %}
                                            <label for="id_sube">Şube Seçiniz:</label>
                                            {% else %}
                                            <label for="id_sube">Firma Seçiniz:</label>
                                            {% endif %}
                                        </div>
                                        <div class="col-9">
                                            {{subeForm.sube}}
                                        </div>
                                    </div>
                                    <input class="btn btn-primary mt-3" type="submit" name="icmal-getir" value="Getir"/>
                            </form>
                <hr>
{% elif title == "İcmal Girişi" %}
<form method="POST">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-10">


                <label for="subeler">Şube Seçin</label>
                <select class="form-control" name="sube" id="subeler">
                    {% for sube in subeler  %}
                    {% if sube == selected %}
                    <option value="{{sube.isim}}" selected >{{sube.isim}}</option>
                    {% else %}
                    <option value="{{sube.isim}}" >{{sube.isim}}</option>
                    {% endif %}
                  
                  {% endfor %}
                </select>


            </div>
        </div>
    
    <input class="btn btn-primary mt-3" type="submit" name="icmal-getir" value="Getir"/>
</div>
</form>
<hr>
<div class="row">
    <div class="col">
        <h1 class="h4 text-gray-900 text-center">{{form.instance.firma.isim}} Firması {{form.instance.sube.isim}}  Şubesi  {{form.instance.yıl}} / {{form.instance.ay}}  Dönemi İcmali</h1>
   </div>
</div>

<hr>             
<form method="POST">
    {% csrf_token %}
    <div class="row justify-content-center">
         <div class="col-2">
            <label for="id_kdv">Katma Değer Vergisi:</label> 
        </div>
        <div class="col-3">
             {{form.kdv}}
        </div>
        <div class="col-2">
            <label for="id_kdv2">Katma Değer Vergisi-2:</label>
        </div>
        <div class="col-3">
                {{form.kdv2}}
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-2">
            <label for="id_atak">Atak Fatura:</label>
        </div>
        <div class="col-3">
                {{form.atak}}
        </div>
        <div class="col-2">
            <label for="id_yasalKdv">Yasal KDV:</label>
        </div>
        <div class="col-3">
                {{form.yasalKdv}}
        </div>
    </div>

        <div class="row justify-content-center">
            <div class="col-2">
                <label for="id_muhtasar">Muhtasar Vergisi:</label>
            </div>
            <div class="col-3">
                {{form.muhtasar}}
            </div>
            <div class="col-2">
                <label for="id_ggkv">Gelir, Geçici, Kurumlar Vergisi:</label>                
            </div>
            <div class="col-3">
                {{form.ggkv}}
            </div>
        </div>

    <div class="row justify-content-center">
        <div class="col-2">
            <label for="id_yargı_dava_ceza">Yargı - Dava - Ceza Gideri:</label>
        </div>
        <div class="col-3">
            {{form.yargı_dava_ceza}}
        </div>
        <div class="col-2">
            <label for="id_tasdik">Defter Açılış, Kapanış, Tasdik Ücreti</label>
        </div>
        <div class="col-3">
            {{form.tasdik}}
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-2">
            <label for="id_ceza">Trafik Cezaları ve Motorlu Taşıtlar Vergisi:</label>
        </div>
        <div class="col-3">
            {{form.ceza}}
        </div>
        <div class="col-2">
            <label for="id_müsavirlik">Muhasebe ve Müşavirlik Hizmeti:</label>    
        </div>
        <div class="col-3">
            {{form.müsavirlik}}
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-2">
            <label for="id_vergiYapilandirmasi">Vergi Yapılandırması:</label>
        </div>
        <div class="col-3">
            {{form.vergiYapilandirmasi}}
        </div>
        <div class="col-2">
            <label for="id_sgkYapilandirmasi">SGK Yapılandırması</label>
        </div>
        <div class="col-3">
            {{form.sgkYapilandirmasi}}
        </div>
    </div>




    <div class="row justify-content-center">
        <div class="col-2">
            <label for="id_geçmişborçlar">Geçmiş Aylarda Ödenmeyen Vergi Borçları:</label>            
        </div>
        <div class="col-3">
            {{form.geçmişborçlar}}
        </div>
        <div class="col-2">
            <label for="id_tesvik">İş-Kur-Teşvik-Kosgeb-Personel Ücreti:</label>            
        </div>
        <div class="col-3">
            {{form.tesvik}}
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-2">
            <label for="id_sgk">Sgk Primleri:</label>
        </div>
        <div class="col-3">
            {{form.sgk}}
        </div>
        <div class="col-2">
            <label for="id_bagkur">Bağ-Kur Primleri:</label>
        </div>
        <div class="col-3">
            {{form.bagkur}}
        </div>
    </div>
    <div class="row justify-content-center">
        

        <div class="row justify-content-center">
            <div class="col-3">
                <label for="sonuc"> Toplam:</label>
            </div>
            <div class="col-4">
                <input  class="form-control"  type="text" id="sonuc" name="sonuc" disabled/>
            </div>

        </div>
    </div>
    <hr>
    <div class="row justify-content-between">
    <input type="submit" value="Ekle" name="icmal-kaydet" class="btn btn-success mx-5"/>
    <a href={% url 'icmalGir' firma_slug=fslug sube_slug=slug %} class="btn btn-info mx-5">Sonraki -> </a>
    </div>
</form>
{% endif %}   
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<script>

    var sonuc = 0;
    var sayilar = new Array();

    function topla(){
        sayilar[0] = 0; 
        sayilar[1] = document.getElementById("id_kdv2").value;
        sayilar[2] = document.getElementById("id_atak").value; 
        sayilar[3] = document.getElementById("id_yasalKdv").value;
        sayilar[4] = document.getElementById("id_muhtasar").value; 
        sayilar[5] = document.getElementById("id_yargı_dava_ceza").value;
        sayilar[6] = document.getElementById("id_ceza").value; 
        sayilar[7] = document.getElementById("id_geçmişborçlar").value;
        sayilar[8] = document.getElementById("id_tesvik").value;
        sayilar[9] = document.getElementById("id_müsavirlik").value; 
        sayilar[10] = document.getElementById("id_sgk").value; 
        sayilar[11] = document.getElementById("id_bagkur").value;
        sayilar[12] = document.getElementById("id_ggkv").value;
        sayilar[13] = document.getElementById("id_kdv").value; 
        sayilar[14] = document.getElementById("id_tasdik").value; 
        sayilar[15] = document.getElementById("id_vergiYapilandirmasi").value; 
        sayilar[16] = document.getElementById("id_sgkYapilandirmasi").value;        


        for (var i in sayilar){
            if (i<= 0 ){
                sonuc = 0;
            }else {
                sonuc = parseFloat(sayilar[i]) + sonuc;
            }
            
        }
        


        return document.getElementById("sonuc").value = sonuc;
        
        
    }

    setInterval("topla()", 100);

</script>



{% endblock content %}