{% extends 'base/base.html' %}

{% block content %}

     <!-- Begin Page Content -->
     <div class="container-fluid">

        <!-- Page Heading -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href={% url 'home' %}>Anasayfa</a></li>
              <li class="breadcrumb-item"><a {% if title == "Şube İcmal Detayı"  %} href= {% url 'subeIcmalleri' firma_slug=sube.firma.slug sube_slug=icmal.sube.slug %} {% elif title == "Firma İcmal Detayı" %} href= {% url 'firmaIcmalleri' firma_slug=icmal.firma.slug  %} {% else %} href= {% url 'grupIcmalleri' grup_slug=icmal.grup.slug  %}{% endif %}>İcmal Listesi</a></li>
              <li class="breadcrumb-item active" aria-current="page">Detaylı İcmal </li>
            </ol>
          </nav>

        <!-- DataTales Example -->
        {% if title == "Şube İcmal Detayı" %}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{sube.firma.isim}} Firması {{sube.isim}} Şubesi {{icmal.yıl}}/{{icmal.ay}} Dönemi İcmali</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable4" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Ödemenin Konusu</th>
                                <th>Tutar</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th >GENEL TOPLAM</th>
                                <th>{{icmal.toplam}}</th>                                
                            </tr>
                        </tfoot>
                        <tbody>
                           {% if icmal.kdv > 0  %}
                            <tr>
                                <td>Katma Değer Vergisi</td>
                                <td>{{icmal.kdv}} </td>
                             </tr>
                             {% endif %}
                             {% if icmal.kdv2 > 0 %}
                             <tr>
                                <td>Katma Değer Vergisi-2</td>
                                <td>{{icmal.kdv2}} </td>
                             </tr>
                             {% endif %}
                             {% if icmal.muhtasar > 0 %}
                             <tr>
                                <td>Muhtasar Vergisi</td>
                                <td>{{icmal.muhtasar}} </td>
                             </tr>
                             {% endif %}
                             {% if icmal.ggkv > 0 %}
                             <tr>
                                <td>Gelir, Geçiçi, Kurumlar Vergisi</td>
                                <td>{{icmal.ggkv}} </td>
                             </tr>
                             {% endif %}
                             {% if icmal.damga > 0 %}
                             <tr>
                                <td>Tek Başına Alınan / Düzeltme Damga Vergisi</td>
                                <td>{{icmal.damga}} </td>
                             </tr>
                             {% endif %}
                             {% if icmal.mtv > 0 %}
                             <tr>
                                <td>Motorlu Taşıtlar Vergisi</td>
                                <td>{{icmal.mtv}} </td>
                             </tr> 
                             {% endif %}
                             {% if icmal.ceza > 0 %}
                             <tr>
                                <td>Trafik Cezaları</td>
                                <td>{{icmal.ceza}} </td>
                             </tr>
                             {% endif %}
                             {% if icmal.idariceza > 0 %}
                             <tr>
                                <td>Özel Usülzülük ve İdari Para Cezaları</td>
                                <td>{{icmal.idariceza}} </td>
                             </tr>
                             {% endif %}
                             {% if icmal.davagideri > 0 %}
                             <tr>
                                <td>Yargı ve Dava Giderleri</td>
                                <td>{{icmal.davagideri}} </td>
                             </tr>
                             {% endif %}
                             {% if icmal.hakemheyeti > 0 %}
                             <tr>
                                <td>Tüketici Hakem Heyeti Harçları</td>
                                <td>{{icmal.hakemheyeti}} </td>
                             </tr>
                             {% endif %}
                             {% if icmal.geçmişborçlar > 0 %}
                             <tr>
                                <td>Geçmiş Aylarda Ödenmemiş Vergi Borçları</td>
                                <td>{{icmal.geçmişborçlar}} </td>
                             </tr>  
                             {% endif %}                                                          
                        </tbody>
                        <tbody>
                           
                             {% if icmal.tesvik > 0 %}
                            <tr>
                                <td>İşkur-Teşvik-Kosgeb- Personel Ücreti</td>
                                <td>{{icmal.tesvik}} </td>
                             </tr>
                             {% endif %}
                             {% if icmal.müsavirlik > 0 %}
                             <tr>
                                <td>Muhasebe ve Müşavirlik Ücreti</td>
                                <td>{{icmal.müsavirlik}} </td>
                             </tr>
                             {% endif %}
                             {% if icmal.harcama > 0 %}
                             <tr>
                                <td>Muhasebe Ofisi Tarafından Yapılan Harcamalar</td>
                                <td>{{icmal.harcama}} </td>
                             </tr>
                             {% endif %}
                             {% if icmal.bagkur > 0 %}
                             <tr>
                                <td>Bağkur Primleri</td>
                                <td>{{icmal.bagkur}} </td>
                             </tr>
                             {% endif %}
                             {% if icmal.vergiYapilandirmasi > 0 %}
                             <tr>
                                <td>Vergi Yapılandırması</td>
                                <td>{{icmal.vergiYapilandirmasi}} </td>
                             </tr>
                             {% endif %}
                             {% if icmal.sgkYapilandirmasi > 0 %}
                             <tr>
                                <td>SGK Yapılandırması</td>
                                <td>{{icmal.sgkYapilandirmasi}} </td>
                             </tr>
                             {% endif %}
                             <tfoot>
                                <tr>
                                    <th >TOPLAM</th>
                                    <th>{{icmal.odemelertoplami}}</th>                                
                                </tr>
                            </tfoot>
                            {% if icmal.sgk > 0 %}
                                <tr>
                                    <td>SGK Primleri</td>
                                    <td>{{icmal.sgk}} </td>
                                </tr>
                                {% endif %}
                </tbody>

                </table>
                </div>
            </div>
        </div>
        {% elif title == "Firma İcmal Detayı" %}

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{icmal.firma.isim}} Firması  {{icmal.yıl}}/{{icmal.ay}} Dönemi Genel İcmali</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable4" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Ödemenin Konusu</th>
                                <th>Tutar</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th >GENEL TOPLAM</th>
                                <th>{{icmal.toplam}}</th>                                
                            </tr>
                        </tfoot>
                        <tbody>
                           {% if icmal.kdv > 0 %}
                            <tr>
                                <td>Katma Değer Vergisi</td>
                                <td>{{icmal.kdv}} </td>
                             </tr>
                             {% endif %}
                             {% if icmal.kdv2 > 0 %}
                             <tr>
                                <td>Katma Değer Vergisi-2</td>
                                <td>{{icmal.kdv2}} </td>
                             </tr>
                             {% endif %}
                             {% if icmal.muhtasar > 0 %}
                             <tr>
                                <td>Muhtasar Vergisi</td>
                                <td>{{icmal.muhtasar}} </td>
                             </tr>
                             {% endif %}
                             {% if icmal.ggkv > 0 %}
                             <tr>
                                <td>Gelir, Geçiçi, Kurumlar Vergisi</td>
                                <td>{{icmal.ggkv}} </td>
                             </tr>
                             {% endif %}
                             {% if icmal.damga > 0 %}
                             <tr>
                                <td>Tek Başına Alınan / Düzeltme Damga Vergisi</td>
                                <td>{{icmal.damga}} </td>
                             </tr>
                             {% endif %}
                             {% if icmal.mtv > 0 %}
                             <tr>
                                <td>Motorlu Taşıtlar Vergisi</td>
                                <td>{{icmal.mtv}} </td>
                             </tr> 
                             {% endif %}
                             {% if icmal.ceza > 0 %}
                             <tr>
                                <td>Trafik Cezaları</td>
                                <td>{{icmal.ceza}} </td>
                             </tr>
                             {% endif %}
                             {% if icmal.idariceza > 0 %}
                             <tr>
                                <td>Özel Usülzülük ve İdari Para Cezaları</td>
                                <td>{{icmal.idariceza}} </td>
                             </tr>
                             {% endif %}
                             {% if icmal.davagideri > 0 %}
                             <tr>
                                <td>Yargı ve Dava Giderleri</td>
                                <td>{{icmal.davagideri}} </td>
                             </tr>
                             {% endif %}
                             {% if icmal.hakemheyeti > 0 %}
                             <tr>
                                <td>Tüketici Hakem Heyeti Harçları</td>
                                <td>{{icmal.hakemheyeti}} </td>
                             </tr>
                             {% endif %}
                             {% if icmal.geçmişborçlar > 0 %}
                             <tr>
                                <td>Geçmiş Aylarda Ödenmemiş Vergi Borçları</td>
                                <td>{{icmal.geçmişborçlar}} </td>
                             </tr>
                             {% endif %}
                                                                                      
                        </tbody>
                        <tbody>
                           
                             {% if icmal.tesvik > 0 %}
                            <tr>
                                <td>İşkur-Teşvik-Kosgeb- Personel Ücreti</td>
                                <td>{{icmal.tesvik}} </td>
                             </tr>
                             {% endif %}
                             {% if icmal.müsavirlik > 0 %}
                             <tr>
                                <td>Muhasebe ve Müşavirlik Ücreti</td>
                                <td>{{icmal.müsavirlik}} </td>
                             </tr>
                             {% endif %}
                             {% if icmal.harcama > 0 %}
                             <tr>
                                <td>Muhasebe Ofisi Tarafından Yapılan Harcamalar</td>
                                <td>{{icmal.harcama}} </td>
                             </tr>
                             {% endif %}
                             {% if icmal.bagkur > 0 %}
                             <tr>
                                <td>Bağkur Primleri</td>
                                <td>{{icmal.bagkur}} </td>
                             </tr>
                             {% endif %}
                             
                             <tfoot>
                                <tr>
                                    <th >TOPLAM</th>
                                    <th>{{icmal.odemelertoplami}}</th>                                
                                </tr>
                            </tfoot>
                            
                             {% if icmal.sgk > 0 %}
                                <tr>
                                    <td>SGK Primleri</td>
                                    <td>{{icmal.sgk}} </td>
                                </tr>
                                {% endif %}
                </tbody>

                </table>
                </div>
            </div>
        </div>
        <hr>
        <div class="card-header py-3 text-center">
            <h6 class="h2"> Şube İcmalleri </h6>
        </div>

{% for sube in subeler  %}
{% for subeIcmal in subeIcmalleri  %}
{% if sube.isim == subeIcmal.sube.isim %}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"> {{sube.isim}} Şubesi {{subeIcmal.yıl}}/{{subeIcmal.ay}} Dönemi İcmali</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable4" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Ödemenin Konusu</th>
                                <th>Tutar</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th >GENEL TOPLAM</th>
                                <th>{{subeIcmal.toplam}}</th>                                
                            </tr>
                        </tfoot>
                        <tbody>
                           {% if subeIcmal.kdv > 0 %}
                            <tr>
                                <td>Katma Değer Vergisi</td>
                                <td>{{subeIcmal.kdv}} </td>
                             </tr>
                             {% endif %}
                             {% if subeIcmal.kdv2 > 0 %}
                             <tr>
                                <td>Katma Değer Vergisi-2</td>
                                <td>{{subeIcmal.kdv2}} </td>
                             </tr>
                             {% endif %}
                             {% if subeIcmal.muhtasar > 0 %}
                             <tr>
                                <td>Muhtasar Vergisi</td>
                                <td>{{subeIcmal.muhtasar}} </td>
                             </tr>
                             {% endif %}
                             {% if subeIcmal.ggkv > 0 %}
                             <tr>
                                <td>Gelir, Geçiçi, Kurumlar Vergisi</td>
                                <td>{{subeIcmal.ggkv}} </td>
                             </tr>
                             {% endif %}
                             {% if subeIcmal.damga > 0 %}
                             <tr>
                                <td>Tek Başına Alınan / Düzeltme Damga Vergisi</td>
                                <td>{{subeIcmal.damga}} </td>
                             </tr>
                             {% endif %}
                             {% if subeIcmal.mtv > 0 %}
                             <tr>
                                <td>Motorlu Taşıtlar Vergisi</td>
                                <td>{{subeIcmal.mtv}} </td>
                             </tr> 
                             {% endif %}
                             {% if subeIcmal.ceza > 0 %}
                             <tr>
                                <td>Trafik Cezaları</td>
                                <td>{{subeIcmal.ceza}} </td>
                             </tr>
                             {% endif %}
                             {% if subeIcmal.idariceza > 0 %}
                             <tr>
                                <td>Özel Usülzülük ve İdari Para Cezaları</td>
                                <td>{{subeIcmal.idariceza}} </td>
                             </tr>
                             {% endif %}
                             {% if subeIcmal.davagideri > 0 %}
                             <tr>
                                <td>Yargı ve Dava Giderleri</td>
                                <td>{{subeIcmal.davagideri}} </td>
                             </tr>
                             {% endif %}
                             {% if subeIcmal.hakemheyeti > 0 %}
                             <tr>
                                <td>Tüketici Hakem Heyeti Harçları</td>
                                <td>{{subeIcmal.hakemheyeti}} </td>
                             </tr>
                             {% endif %}
                             {% if subeIcmal.geçmişborçlar > 0 %}
                             <tr>
                                <td>Geçmiş Aylarda Ödenmemiş Vergi Borçları</td>
                                <td>{{subeIcmal.geçmişborçlar}} </td>
                             </tr>  
                             {% endif %}                                                          
                        </tbody>
                        <tbody>
                           {% if subeIcmal.tesvik > 0 %}
                            <tr>
                                <td>İşkur-Teşvik-Kosgeb- Personel Ücreti</td>
                                <td>{{subeIcmal.tesvik}} </td>
                             </tr>
                             {% endif %}
                             {% if subeIcmal.müsavirlik > 0 %}
                             <tr>
                                <td>Muhasebe ve Müşavirlik Ücreti</td>
                                <td>{{subeIcmal.müsavirlik}} </td>
                             </tr>
                             {% endif %}
                             {% if subeIcmal.harcama > 0 %}
                             <tr>
                                <td>Muhasebe Ofisi Tarafından Yapılan Harcamalar</td>
                                <td>{{subeIcmal.harcama}} </td>
                             </tr>
                             {% endif %}
                             {% if subeIcmal.bagkur > 0 %}
                             <tr>
                                <td>Bağkur Primleri</td>
                                <td>{{subeIcmal.bagkur}} </td>
                             </tr>
                             {% endif %}
                             
                             <tfoot>
                                <tr>
                                    <th >TOPLAM</th>
                                    <th>{{subeIcmal.odemelertoplami}}</th>                                
                                </tr>
                            </tfoot>
                            
                              {% if subeIcmal.sgk > 0 %}
                                <tr>
                                    <td>SGK Primleri</td>
                                    <td>{{subeIcmal.sgk}} </td>
                                </tr>
                                {% endif %}
                </tbody>

                </table>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}

        {% endif %}
    </div>
    
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->


{% endblock content %}