{% extends 'base/base.html' %}

{% block content %}

     <!-- Begin Page Content -->
     <div class="container-fluid">

        <!-- Page Heading -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href={% url 'home' %}>Anasayfa</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{yil}}/{{ay}} Dönemi Ödeme Takip İcmali</li>
            </ol>
            <div class="m-2">
                  <a href={% url 'generatePdfOdemeTakip' %}
                  
                  class="d-sm-inline-block btn btn-sm btn-primary shadow-sm m-2"><i
                      class="fas fa-download fa-sm text-white-50"></i>PDF'e Aktar</a>

                    <a href={% url 'export_to_excel' %}
                    
                    class="d-sm-inline-block btn btn-sm btn-success shadow-sm m-2"><i
                        class="fas fa-download fa-sm text-white-50"></i>Excel'e Aktar</a>
            </div>
          </nav>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{yil}}/{{ay}} Dönemi Ödeme Takip İcmali</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable4" width="100%" cellspacing="0">
                        {% for firmaIcmal in firmaIcmalleri  %}
                        <thead>
                            <tr>
                                <th>{{firmaIcmal.firma.isim}} </th>
                                <th>KDV</th>
                                <th>Muhtasar</th>
                                <th>Diğer Vergi ve Cezalar</th>

                                <th>Atak</th>
                                <th>Yasal KDV</th>
                                <th>Gelir/Geçici Kurumlar Vergisi</th>
                                <th>Defter Açılış-Kapanış Tasdik Ücreti</th>
                                <th>Trafik Cezaları ve MTV</th>
                                <th>Vergi Yapılandırması</th>
                                <th>SGK Yapılandırması</th>
                                <th>Geçmiş Aylarda Ödenmeyen Vergi ve Borçlar</th>


                                <th>Toplam</th>
                                <th>Bağkur</th>
                                <th>Toplam</th>
                                <th>Muhasebe</th>
                                <th>Teşvik</th>
                                <th>Toplam</th>
                                <th>SGK</th>
                                <th>Toplam</th>
                            </tr>
                        </thead>
                        <tbody>
                           {% for subeIcmal in  subeIcmalleri %}
                           {% if subeIcmal.firma.isim == firmaIcmal.firma.isim %}
                           
                            <tr>
                                <td>{{subeIcmal.sube.isim}}</td>
                                <td>{{subeIcmal.kdvler}}</td>
                                <td>{{subeIcmal.muhtasar}} </td>
                                <td>{{subeIcmal.yargı_dava_ceza}}</td>

                                <td>{{subeIcmal.atak}} </td>
                                <td>{{subeIcmal.yasalKdv}} </td>
                                <td>{{subeIcmal.ggkv}} </td>
                                <td>{{subeIcmal.tasdik}} </td>
                                <td>{{subeIcmal.ceza}} </td>
                                <td>{{subeIcmal.vergiYapilandirmasi}} </td>
                                <td>{{subeIcmal.sgkYapilandirmasi}} </td>
                                <td>{{subeIcmal.geçmişborçlar}} </td>

                                <td>{{subeIcmal.uclutoplam}}</td>
                                <td>{{subeIcmal.bagkur}}</td>
                                <td>{{subeIcmal.dortlutoplam}}</td>
                                <td>{{subeIcmal.müsavirlik}}</td>
                                <td>{{subeIcmal.tesvik}}</td>
                                <td>{{subeIcmal.beslitoplam}}</td>
                                <td>{{subeIcmal.sgk}}</td>
                                <td>{{subeIcmal.altilitoplam}}</td>
                                
                             </tr> 
                             {% endif %}
                             {% endfor %}
                </tbody>
                <thead>
                    <tr>
                        <td>TOPLAM</td>
                        <td>{{firmaIcmal.kdvler}}</td>
                        <td>{{firmaIcmal.muhtasar}} </td>
                        <td>{{firmaIcmal.yargı_dava_ceza}}</td>

                        <td>{{firmaIcmal.atak}} </td>
                        <td>{{firmaIcmal.yasalKdv}} </td>
                        <td>{{firmaIcmal.ggkv}} </td>
                        <td>{{firmaIcmal.tasdik}} </td>
                        <td>{{firmaIcmal.ceza}} </td>
                        <td>{{firmaIcmal.vergiYapilandirmasi}} </td>
                        <td>{{firmaIcmal.sgkYapilandirmasi}} </td>
                        <td>{{firmaIcmal.geçmişborçlar}} </td>

                        <td>{{firmaIcmal.uclutoplam}}</td>
                        <td>{{firmaIcmal.bagkur}}</td>
                        <td>{{firmaIcmal.dortlutoplam}}</td>
                        <td>{{firmaIcmal.müsavirlik}}</td>
                        <td>{{firmaIcmal.tesvik}}</td>
                        <td>{{firmaIcmal.beslitoplam}}</td>
                        <td>{{firmaIcmal.sgk}}</td>
                        <td>{{firmaIcmal.altilitoplam}}</td>
                    </tr>
                </thead>
                {% endfor %}
                </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}