{% extends 'base/base.html' %}

{% block content %}

     <!-- Begin Page Content -->
     <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">{{firma.isim}} Firması Şubeleri</h1>


        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Tüm Şubeler</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>İsim</th>
                                <th>Sgk No</th>
                                <th>İcmal Listesini Gör</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sube in subeler  %}
                            <tr>
                                <td>{{sube.isim}}</td>
                                <td>{{sube.sgkNo}}</td>
                                <td>
                                    <a href={% url 'subeIcmalleri' firma_slug=firma.slug sube_slug=sube.slug %}>
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
   
    
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->


{% endblock content %}